@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Manrope:wght@500;700&display=swap');

:root {
    /* COLOR VARIABLES */
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%)
}

* {
    margin: 0;
}

body {
    background-color: var(--light-grayish-blue);
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h3 {
    color: var(--very-dark-grayish-blue);
}

p{
    color: var(--grayish-blue);
    font-size: 13px;
    line-height: 1.5;
    
}


.container {
    max-width: 720px;
    max-height: 280px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
   
}

.left-container{
    width: 40%;
    background-image: url('../images/drawers.jpg');
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.right-container{
    width: 60%;
    background-color: white;
    border-radius: 0 10px 10px 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-box{
   display: flex;
   flex-direction: row; 
   width: 100%;
   align-items: center;
   gap: 1rem;
}

.user-image {
    height: 40px;
    border-radius: 50px;
    
}

.name-date{
    display: flex;
    flex-direction: column;
    
    
}

.share-box {
    height: 30px;
    width: 30px;
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-left: auto;
    
}
.name{
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
    font-size: 13px;

}
.date{

}