@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Manrope:wght@500;700&display=swap');

:root {
    /* COLOR VARIABLES */
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%)
}

* {
    margin: 0;
}

body {
    background-color: var(--light-grayish-blue);
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color:var(--very-dark-grayish-blue);
    font-size: 1.3rem;
}

p{
    color: var(--grayish-blue);
    font-size: 13px;
    line-height: 1.5;
    
}


.container {
    max-width: 720px;
    max-height: 280px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
   
}

.left-container{
    width: 45%;
    background-image: url('../images/drawers.jpg');
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.right-container{
    width: 60%;
    background-color: white;
    border-radius: 0 10px 10px 0;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.share-container{
    position: absolute;
    background-color: var(--very-dark-grayish-blue);
    display: none;
    flex-direction: row;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    gap: 1rem;
    letter-spacing: 3px;
    left: 290px;
    top: 140px;
}

.share-container-active{
    position: absolute;
    background-color: var(--very-dark-grayish-blue);
    display: flex;
    flex-direction: row;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    gap: 1rem;
    letter-spacing: 3px;
    left: 290px;
    top: 140px;
}

.share-container-arrow{
    display: none;
    content: '';
    border-color: var(--very-dark-grayish-blue) transparent;
    border-width: 12px 12px 0 12px;
    border-style: solid;
    position: absolute;
    top: 190px;
    left: 380px;
}

.share-container-arrow-active{
    display: block;
    content: '';
    border-color: var(--very-dark-grayish-blue) transparent;
    border-width: 12px 12px 0 12px;
    border-style: solid;
    position: absolute;
    top: 190px;
    left: 380px;
}

.user-box{
   display: flex;
   flex-direction: row; 
   width: 100%;
   align-items: center;
   gap: 1rem;
   
}

.user-image {
    height: 40px;
    border-radius: 50px;
    
}

.name-date{
    display: flex;
    flex-direction: column;
    
    
}

.share-box {
    height: 30px;
    width: 30px;
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-left: auto;
    
}
.name{
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
    font-size: 13px;

}

.third-container-mobile{
    display: none;
}



/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media only screen and (max-width: 390px) {
    .container {
        max-width: 325px;
        max-height: 600px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
       
    }

    .left-container{
        width: 100%;
        height: 46%;
        background-image: url('../images/drawers.jpg');
        background-size: cover;
        border-radius: 10px 10px 0 0;
    }

    .right-container{
        max-width: 350px;
        width: auto;
        height: 42%;
        background-color: white;
        border-radius:  0 0 0 0  ;
        padding: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    h2 {
        color:var(--very-dark-grayish-blue);
        font-size: 1.1rem;
        font-weight: 700;
    }
    
    p{
        color: var(--grayish-blue);
        font-size: 13px;
        line-height: 1.7;
      
        
    }
    
    .user-box{
        display: flex;
        flex-direction: row; 
        align-items: center;
        gap: 1rem;
        /* hide this whole div when mobile */
        display: none;
        
    }

    .third-container-mobile{
        height: 12%;
        display: block;
        display: flex;
        flex-direction: row;
        background-color: var(--very-dark-grayish-blue);
        border-radius:  0 0 10px 10px ;
        justify-content: space-between;
        align-items: center;
        padding: 0 35px 0 35px;
        gap: 1rem;
        letter-spacing: .3rem;
        

    }

    

    .share-box {
        height: 30px;
        width: 30px;
        background-color: var(--grayish-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        margin-left: auto;
        fill:white;
        
    }

    
  }